#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: sans-serif;
}
